/* Google Fonts */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
  background-color: #e8751a;
}

.header .inner-logo img {
  max-height: 50px;
  max-width: 100px;
  margin-left: 30%;
}
.header .inner-logo a {
  font-size: 30px;
  text-decoration: none;
  margin-right: 50px;
  color: whitesmoke;

  /* margin-left: 10%; */
}

.header .inner-menu > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.header .inner-menu > ul > li {
  display: block;
  padding: 10px 10px;
}
.header .inner-menu > ul > li a {
  text-decoration: none;
  color: whitesmoke;
}
.header .inner-menu > ul > :last-child {
  display: flex;
  flex-direction: row;
  color: red;
  position: relative;
}
.header .inner-menu > ul h5 {
  font-size: 15px;
  position: absolute;
  bottom: 0px;
  right: 4px;
}
.bxs-search-alt-2 {
  width: 20px;
}
.bxs-cart-add {
}
.inner_cart-account {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header .inner_cart-account > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  /* flex-wrap: wrap; */
  justify-content: flex-start;

  margin: 0;
  flex-wrap: wrap;
}
/* .inner_cart-account ul {
  margin-left: 3rem;
} */
.header .inner_cart-account ul li {
  display: block;
  padding: 10px 3px;
  /* text-align: center; */
}
.header .inner_cart-account ul li a {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
  color: whitesmoke;
}
.header .inner_cart-account ul li a div {
  padding-top: 0.5rem;
  margin-left: 0.5rem;
}

.form-control {
  height: 25px;
  width: 20px;
  border-radius: 20px;
}
.input-group {
  align-items: center;
  padding: 3px;
}
.inner-search {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: center;
}
.input-group input {
  /* margin-right: 3px; */
}
.btn-outline-secondary {
  background-image: url(../images/search.png);
  height: 27px;
  border: none;
  background-repeat: no-repeat;
}
.btn-cart {
  background-image: url(../images/cart.png);
  height: 27px;
  border: none;
  background-repeat: no-repeat;
}
.btn-search {
  height: 27px;
  border: none;
  background-repeat: no-repeat;
  background-image: url(../images/icons8-search-24.png);
}
.input-group label {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}
