.headerListProduct {
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #292525;
}

.headerTitle {
  margin-left: 70px;
}
.headerTitle p1 {
  font-size: 13px;
  padding-right: 10px;
}
.headerTitle :last-child {
  color: rgb(232, 117, 26);
}

.wrapperListProduct {
  display: flex;
  background-color: #fcf8f8;
}
.optionProductType {
  margin-left: 70px;
  width: 20%;
  border: 2px solid gray;
  /* border-radius: 15px; */
  margin-top: 30px;
}
.optionProductType > div {
  /* text-align: center; */
  /* padding-left: 20px; */

  padding-top: 10px;
  padding-left: 10px;
}
.optionProductType > div:nth-child(1) {
  /* text-align: center; */
  /* padding-left: 20px; */

  padding-top: 0px;
}
.listProducts {
  width: 80%;
}

.titleFilter {
  border-bottom: 1px solid #292525;
}
/* .titleFilter p1 {
  font-weight: bold;
} */
.optionProductType p1 {
  font-weight: bold;
}
/* input {
  margin-left: 100px;
} */
.titleFilterPrice {
}
.form-check {
  margin-top: 20px;
}
.form-check label {
  /* color: rgb(232, 117, 26); */
}
.addAttributeChecked {
}
