header.header 
    .container
        .row.align-items-center
            .col-2
                .inner-logo
                    a(href="/") ShoeVanX 
                        

                        //- img(src="/images/logo.png",alt="Logo", srcset="")
            .col-3
                .inner-search
                    .input-group
                        input(type="text" class="form-control" placeholder="Bạn tìm kiếm gì" aria-label="Recipient's username" aria-describedby="button-addon2")
                        button(class="btn btn-outline-secondary" type="button" id="button-addon2")
                            i(class='bx bxs-search')
       
            .col-5
                .inner-menu     
                    ul
                        li 
                            a(href="") Trang Chủ

                        li 
                            a(href="") Giới thiệu
                        li 
                            a(href="/products") Sản Phẩm
                        li 
                            a(href="") Liên hệ
            .col-2
                .inner_cart-account
                    .inner-cart
                        i(class='bx bxs-cart-add')
                    .inner-account
                        h5 UserName 