/* Google Fonts */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  background-color: #e8751a;
}

.header .inner-logo img {
  max-height: 50px;
  max-width: 100px;
  margin-left: 30%;
}
.header .inner-logo a {
  font-size: 30px;
  text-decoration: none;
  margin-right: 50px;
  color: whitesmoke;

  /* margin-left: 10%; */
}

.header .inner-menu > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.header .inner-menu > ul > li {
  display: block;
  padding: 10px 10px;
}
.header .inner-menu > ul > li a {
  text-decoration: none;
  color: whitesmoke;
}
.bxs-search-alt-2 {
  width: 20px;
}
.bxs-cart-add {
  font-size: 30px;
}
.inner_cart-account {
  display: flex;
  justify-content: space-between;
}
