mixin product_infor_item()
    tr.text-start
                    th(class="stt_tableProduct",scope='row') 1
                    td.img_tableProduct
                        img(src="/images/avatar.jpg", alt="", srcset="")
                    td(class="_tableProduct") Alos
                    td(class="_tableProduct") Nike
                    td(class="text-wrap",style='color:var(--bs-success)') Active

                    td
                        i.fa-solid.fa-eye
 
                    td 
                        button.btn.btn-warning(type='button') Sửa
                        button.btn.btn-danger(type='button') Xóa