extends ../../layout/default.pug
include ../../mixins/product_item.pug



block main
  .wrapperListProduct
    .optionProductType
    section.listProducts
      nav.nav__box
        each item in product
          +product_item(item.thumbnail,item.title,item.price)


